{{#extend "layout"}}
  {{#replace "bodyId"}}home-page{{/replace}}
  {{#replace "main"}}

    <section id="home">
      <div>
        <h1>index.hbs for home page</h1>
      </div>
    </section>

    <section id="next-id">
      <div>
        <h1>next section on home page</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
