{{#extend "layout"}}
  {{#replace "bodyId"}}project-page{{/replace}}
  {{#replace "main"}}

    <section id="hero">
      <div>
        <h1>Hero we go...</h1>
      </div>
    </section>

    <section id="next-id">
      <div>
        <h1>... and so on</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
